<table class="jobs">
    <thead>
    <tr>
        <th class="identifier">ID</th>
        <th class="command">Command</th>
        <th class="cwd">Directory</th>
        <th class="started">Started at</th>
    </tr>
    </thead>
    <tbody>
    {{#each jobs as |job|}}
        <tr class="{{job.readyState}}">
            <td class="identifier">{{#link-to 'job' job}}{{job.id}}{{/link-to}}</td>
            <td class="command">{{job.command}}</td>
            <td class="cwd">{{job.cwd}}</td>
            <td class="started">{{datetime-format job.startedAt}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>