<header>
    <h1>Gworkerd</h1>
</header>
<nav>
    {{#link-to 'index'}}Dashboard{{/link-to}}
    {{#link-to 'jobs' (query-params status="successful")}}Processed{{/link-to}}
    {{#link-to 'jobs' (query-params status="failed")}}Failed{{/link-to}}
    {{#link-to 'jobs' (query-params status="busy")}}Busy{{/link-to}}
</nav>
<main>
    <div class="status--output">
        {{#if connected}}
            <span class="message connected">connected to <span class="hostname">{{model.hostname}}</span><span class="ip-address">({{model.ip}})</span></span>
        {{else}}
            <span class="message disconnected">disconnected</span>
        {{/if}}
    </div>

    {{outlet}}
</main>

<footer>Started At: {{datetime-format model.started}} - Gworkerd {{model.version}}</footer>