<div class="job--output {{model.status}}">
    <h1>Job <strong>{{model.id}}</strong></h1>

    <div class="about">
        <h2>Job</h2>
        <table class="meta">
            <tbody>
            <tr>
                <th>Command</th>
                <td>{{model.command}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{model.status}}</td>
            </tr>
            </tbody>
        </table>
    </div><div class="results">
        <h2>Results</h2>
        <table class="result">
            <thead>
            <tr>
                <th>Exit code</th>
                <th>Started at</th>
                <th>Finished at</th>
                <th>Duration in sec</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{#if model.isFinished}}
                            {{model.exitCode}}
                        {{/if}}
                    </td>
                    <td>{{datetime-format model.startedAt}}</td>
                    <td>
                        {{#if model.isFinished}}
                            {{datetime-format model.finishedAt}}
                        {{/if}}
                    </td>
                    <td>
                        {{#if model.isFinished}}
                            {{model.duration}}
                        {{/if}}
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Log output</h2>

        <div class="output--view">
            {{#if model.stdout}}
                {{log-output name='stdout' output=model.stdout}}
            {{/if}}
            {{#if model.stderr}}
                {{log-output name='stderr' output=model.stderr}}
            {{/if}}
        </div>
    </div>
</div>