<form class="login {{if loading 'loading'}} {{if failed 'error'}}"  {{action "submit" password on="submit"}}>
    {{#if failed}}
        <div class="error">Login failed, please try again</div>
    {{/if}}

    <fieldset>
        <label class="password">Please enter password</label>
        {{input type="password" class="password" name="password" autocorrect="off" autocapitalize="off" value=password placeholder="********"}}
        <a href="#" class="button" {{action 'submit' password}}>Login</a>
    </fieldset>

</form>